.inputShortner__wrapper {
  display: flex;
  gap: 5px;
}

.shortner__input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
}

.shortner__helperText {
  font-size: 16px;
}